@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .transition-smooth{
    @apply transition-all duration-500 ease-in-out;
  }

  .btn {
    @apply inline-flex justify-center items-center px-6 py-3 font-medium rounded-full  transition-all duration-500 ease-in-out;
  }
  .btn-primary {
    @apply bg-[#A77F66] text-white hover:bg-black hover:scale-105 
  }
  
  .responsive-flex {
    @apply flex flex-col lg:flex-row
  }
  .responsive-grid-3{
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3
  }
  .responsive-grid-2{
    @apply grid grid-cols-1 lg:grid-cols-2
  }

  .card{
    @apply overflow-hidden px-8 py-4;
  }
  .cover-card {
    @apply w-full object-cover;
  }
  .text-card {
    @apply flex flex-col text-center bg-white z-10 gap-4;
  }
  .product-card{
    @apply bg-gray-100 shadow-md transition-all duration-500 ease-in-out;
  }
  
  .horizontal-line {
    @apply w-full border border-gray-200;
  }

  .slide-in {
    @apply opacity-0 -translate-x-40 -rotate-180 transition-all duration-1000 ease-out;
  }

  .slide-in-active {
    @apply opacity-100 translate-x-0 rotate-0;
  }

  .fade-in {
    @apply opacity-0 transition-opacity duration-1000 ease-out;
  }

  .fade-in-active {
    @apply opacity-100;
  }

  .slide-up {
    @apply opacity-0 translate-y-10 transition-all duration-700 ease-out;
  }

  .slide-up-active {
    @apply opacity-100 translate-y-0;
  }
  .fade-in.fade-in-active {
    opacity: 1;
  }

  .slide-in.slide-in-active {
    opacity: 1;
    transform: translateX(0) rotate(0);
  }

  .slide-up.slide-up-active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .swiper-slide:hover .overlay {
  background-color: rgba(255, 255, 255, 0.4); /* transparent white film */
}
}

@layer base {
  body {
    font-family: 'Figtree', sans-serif;
    @apply text-base font-normal text-[#222222];
  }

  h1 {
    font-family: 'Marcellus', serif;
    @apply text-2xl sm:text-3xl md:text-5xl lg:text-7xl text-[#222222] leading-tight;
  }

  h2 {
    font-family: 'Marcellus', serif;
    @apply text-3xl  md:text-5xl text-[#222222];
  }

  h3 {
    @apply text-lg uppercase font-medium text-[#222222];
  }

  h4 {
    @apply text-lg uppercase font-medium text-[#808080];
  }

  p,span {
    @apply text-base text-[#808080] ;
  }
}